<template>
  <div class="game-wrapper">
    <div class="game-button" id="game-button">
       <button @click='riseUp' title="Увеличить количество и скорость" class="btn difficultyBtn" id="inc">+
       </button>
        <span class="btn btnclick a" @click="start">Start</span>
      <div class="btn info">
        <span class="one">Level: <span class="Upfont" id="lvl">{{lvl}}</span></span>
        <br>
        <span class="one">hit/miss: <span class="Upfont">{{count_click}} : {{count_miss}}</span></span>
        <br>
        <span class="one">Time: <span class="Upfont">{{count_total}}</span></span>
        <br>
        <span class="one">Best: <span class="Upfont">{{top_time}}</span></span>
        <br>
      </div>
        <span class="btn btnclick a" @click="finish">Stop</span>
      <button @click='riseDown' title="Уменьшить количество и скорость" class="btn difficultyBtn" id='redu'>-
      </button>
      <br>
      <button @click="showStats" id="showStats">{{buttonStats}}</button>
      <hr>
    </div>
    <div class="showStats">
      <div class="table">
        <ol>
          <li v-for="items in list">
            <span class="result">{{items.name}}</span> 
            <span class="result">Level{{items.lvl}}</span> 
            <span class="result">Time: {{items.time}}</span>
          </li>
        </ol>
      </div>
    </div>
    <div id="game-content" class="game-content"></div>
    <div class="heatmap hide">
      <div class="tooltip"></div>
      <div class="legend-area">
        <span id="min"></span>
        <span id="max"></span>
        <img 
            id="gradient" 
            src=''
            style="width:100%"
        >
      </div>
    </div>
  </div>
</template>

<style scoped>
  .showStats{
    display: none;
    color: #fff;
    width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    color: #000;
  }
  #showStats{
    border: 1px solid #2070c3;
    border-radius: 5px;
    color:#2070c3;
    background: #fff;
    transition: .2s;
  }
  #showStats:hover{
    color: #fff;
    background: #2070c3;
  }
  #showStats:focus{
    outline: none;
  }
  .table{
    color: #fff;
    margin: 0 auto;
    padding-top: 25px;
    width: 400px;
    display: flex;
    justify-content: center;
    background: #2070c3;
  }
  .table ol {
    width: 500px;
  }
  .result{
    font-weight: bold;
    margin: 10px;
  }
  .Upfont{
    font-size: 15px;
  }
  .game-button div {
    padding: 1px;
  }
  .one {
    color: black;
    font-weight: bold;
    background: transparent;
    border: 1px solid #0099CC;
    border-radius: 6px;
    border: none;
    padding: 10px 10px;
    text-align: center;
    font-size: 11px;
    margin: 4px 2px;
  }

  .hide {
    display: none
  }
  .game-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: calc(100vh - 70px);
    width: 100%;
  }
  .game-button {
    padding: 10px;
    height: 90px; /**Изменяем высоту **/
  }
  .game-content {
    margin-top: 70px;
    position: relative;
    flex: 1;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor:pointer;
  }
  .btn {
    color: #2070c3; 
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 10px;
    border: none;
    padding: 8px 10px 0 7px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 5px 3px;
    transition: .5s;
    transition: .5s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }
  .btnclick{
    border: 1px solid black;

    height: 40px;
    width:100px
  }
  .btnclick:nth-child(2){
    background: linear-gradient(to top right, #69EA49, #3EC97A);
    color: #fff;
  }
  .btnclick:nth-child(2):hover{
    background: linear-gradient(to top right, #3EC97A, #69EA49);
    color: #fff;
  }
  .btnclick:nth-child(4){
    background:linear-gradient(to top right, #FF0033, #CC0000);
    color: #fff;
  }
  .btnclick:nth-child(4):hover{
    background: linear-gradient(to top right, #CC0000, #FF0033);
  }
  .difficultyBtn{
    color: #fff;
    width:40px;
    height: 40px;
    border: 1px solid #2e426b;
    border-radius: 10px;
    background: #2070c3;
    transition: .2s;
    cursor: pointer;
  }
  .difficultyBtn:hover{
    color: #000;
    background: #fff;
  }
  .difficultyBtn:focus{
    outline: none;
  }

  .tooltip {
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0,0,0,.8);
      color: #fff;
      font-size: 14px;
      padding: 5px;
      line-height: 18px;
      display: none;
  }
  @media screen and (max-width: 415px){
    .table{
      margin: 0;
    }
    .btnclick{
      padding-left: 5px;
      padding-right: 5px;
      width: 40px;
      font-size: 10px;
    }
    .difficultyBtn{
      font-size: 9px;
    }
  }
  @media screen and (max-width: 325px){
    .btnclick{
      width:40px;
      font-size:10px;
      padding-left: 2px;
      padding-right: 2px;
    }
    .btn span {
      font-size: 7px;
    }
    .table{
      width:320px;
      font-size: 10px;
    }
  }

</style>

<script>
  import startGame from './game'
  import heatmap from './heatmap'

  window.mark_temp_kost = false
  window.mark_game_start = true

  // game.js - кастыли
  if (window.localStorage.getItem('topTime') !== null) {
    window.ggwp = window.localStorage.getItem('topTime')
  } else {
    window.ggwp = 0
  }
  export default {
    name: 'game',
    data () {
      return {
        buttonStats: 'Показать статистику',
        list:[
        ],
        lvl: 1,
        count_click: 0,
        count_sec: 0,
        count_miss: 0,
        count_millisec : 0,
        count_total : 0,
        top_time: window.ggwp,
        mark_int: false
      }
    },
    methods: {
      start: function () {
        let el1 = document.getElementById('inc');
        let el2 = document.getElementById('redu');
        el1.setAttribute('disabled', 'true');
        el2.setAttribute('disabled','true');
        window.end = false;
        document.querySelector('.showStats').style.display='none';
        var self = this
        if (self.mark_int === true) {
          // очистка таймера
          clearInterval(window.counter_v)
        }

        self.count_click = 0 // количество кликов
        self.count_miss = 0 // промахи
        self.count_sec = 0 // value таймера в секундах
        self.count_millisec = 0; //value таймера в миллисекундах
        self.count_total = 0; //value таймера
        self.mark_int = true // маркер для удаления таймера
        window.dataGameCard = 0 // массив кликов пользователя
        window.counter_v = setInterval(function () {
          self.count_millisec = parseInt(self.count_millisec)
          self.count_millisec+=1;
          if (self.count_millisec>99){
            self.count_sec +=1;
            self.count_millisec=0;
          }
          if(String(self.count_millisec).length<2){
            self.count_millisec = '0' + self.count_millisec;
          }
          self.count_total = self.count_sec + ':' + self.count_millisec;
          window.totalTime = self.count_total;
        }, 10)

        window.mark_game_start = true
        startGame.bind(this)()
      },
      finish: function () {
        let el1 = document.getElementById('inc');
        let el2 = document.getElementById('redu');
        el1.removeAttribute('disabled');
        el2.removeAttribute('disabled');
        document.querySelector('.showStats').style.display='none';
        if (window.flakeInt) {
          clearInterval(window.flakeInt)
        }
        window.mark_game_start = false;
        heatmap.heatMapClick();

      },
      riseUp: function() {
        if (window.lvl<5){
          this.lvl++;
          window.lvl++;
        }

      },
      riseDown: function () {
        if(window.lvl>1){
          this.lvl--;
          window.lvl--;
        }
      },
      showStats: function() {
        window.el1 = document.getElementById('inc');
        window.el2 = document.getElementById('redu');
        window.el1.removeAttribute('disabled');
        window.el2.removeAttribute('disabled');
        let state = this.buttonStats;
        this.buttonStats = state === 'Показать статистику' ? 'Скрыть статистику': 'Показать статистику'
        if(window.localStorage.getItem('statistics')){
          clearInterval(window.flakeInt);
          window.mark_game_start = false;
          let arrList = JSON.parse(window.localStorage.getItem('statistics'));

          this.list = []
          for (let i=0; i<arrList.length; i++){
            this.list.unshift(arrList[i])
          }
          
          while (this.list.length>5){
            this.list.splice(-1,1);
          }
          while (arrList.length>5){
            arrList.splice(-1,1);
          }

          document.querySelector('.game-content').innerHTML = '';
          if (document.querySelector('.showStats').style.display=='block'){
            document.querySelector('.showStats').style.display='none';
          }else{
            document.querySelector('.showStats').style.display='block';
          }
          clearInterval(window.counter_v)
        }
      }
    }
  }
</script>

//window.localStorage.getItems('user-name')
