<template>
  <div class="navigation" id="navigation">
    <router-link class="brand" to="/">
      <img src="../../../assets/logo.svg" class="name-company"/>
    </router-link>
    <strong class="name-app">Анализ активности</strong>
    <ul>
      <li class = "userIcon" v-if="isProfileLoaded"> 
        <router-link to="/account">
          <img src="../../../assets/dog-profile.jpeg" class="dog-icon"/>
        </router-link>
      </li>
      <li class="nameus" v-if="isProfileLoaded">
        <router-link to="/account">{{name}}</router-link>
      </li>
      <li class="iconlogout" v-if="isAuthenticated" @click="logout">
        <span class="logout">
          <img src="../../../assets/logout1.png" class="exit-icon"/>
        </span>
        </li>
        <li class="textlogout" v-if="isAuthenticated" @click="logout">
          <span class="logout">Logout</span>
        </li>
        <li v-if="!isAuthenticated && !authLoading">
          <router-link to="/login">Login</router-link>
        </li>
      </ul>
    </div>
</template>

<style lang="scss" scoped>
  @media (min-width: 414px) {
    .nameus {
      display: block!important;
      margin-right: 20px;
    }
    .userIcon{
      display: none!important;
    }
    .textlogout {
      display: block!important;
    }
    .iconlogout{
      display: none!important;
    }
  }
  @media (min-width: 768px) {
    .name-app{
      display: block;
    }
  }
  .iconlogout{
    display: block;
  }
  .textlogout{
    display: none;
  }
  .exit-icon{
    width: 30px;
  }
  .nameus{
    display: none;
  }
  .userIcon{
    display: block;
    width: 30px;
    border-radius: 100px;
  }
  .dog-icon{
    width: 30px;
    border-radius: 100px;
  }

  .name-company {
    margin-top: -3px;
    width: 60px
  }
  .name-app {
    font-size: 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 20px;
    background-color: rgb(32, 112, 195);
    padding: 8px;
    ul {
      display: flex;
      &:first-child{
        flex-grow: 1;
      }
      li {
        padding-right: 4px;
      }
    }
  }
  .brand {
    display: flex;
    align-items: center;
  }
  .logout {
    &:hover {
      cursor: pointer;
    }
  }

</style>

<script>
  import { mapGetters, mapState } from 'vuex'
  import { AUTH_LOGOUT } from '../../../store/actions/auth'

  export default {
    name: 'navigation',
    methods: {
      logout: function () {
        this.$store.dispatch(AUTH_LOGOUT).then(() => this.$router.push('/login'))
      }
    },
    computed: {
      ...mapGetters(['getProfile', 'isAuthenticated', 'isProfileLoaded']),
      ...mapState({
        authLoading: state => state.auth.status === 'loading',
        name: state => `${state.user.profile.title} ${state.user.profile.name}`,
      })
    },
  }
</script>
