<template>
  <div class="home-content">
    <loading v-if="loading"/>
    <div class="home-flex-container" v-if="isAuthenticated" >
      <div>
          <router-link to="/game" @click="mark_temp">
            <img src="../../assets/game.png" class="home-game_icon"/>
          </router-link>
          <div class="home-link-text">Демонстрационная игра</div>
      </div>
      <div>
        <router-link to="/active">
          <img src="../../assets/stat.png" class="home-game_icon"/>
        </router-link>
        <div class="home-link-text">Бизнес аналитика</div>
      </div>

      <div class="home-qr">
        <img class="small" src="../../assets/qrcode.png"/>
        <div class="home-link-text">QR-code</div>
      </div>
    </div>
  </div>
</template>

<style>
  @media (min-width: 320px)
  {
    img.home-game_icon
    {
      display: inline;
      width: 250px;
      height: 250px;
    }
    img.qr
    {
      display: inline;
    }
  }
  .qr
  {
    width: 100px;
    margin: auto;
  }
  .home {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .home-game_icon {
    margin: 20px;
  }
  .home-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .home-link-text {
    text-align: center;
    font-size: x-large;
    font-weight: normal;
  }
  .home-desc-text{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
  }

</style>

<script>
  import { mapGetters } from 'vuex'
  import Login from 'components/login'

  export default {
    components: {
      Login
    },
    name: 'home',
    computed: {
      ...mapGetters(['isAuthenticated', 'authStatus']),
      loading: function () {
        return this.authStatus === 'loading' && !this.isAuthenticated
      }
    },
    data () {
      return ({})
    },

    methods: {
      mark_temp: function () {
        window.mark_temp_kost = false
      }
    }
  }
</script>
