<template>
  <div class="activity-content">
    <div class="row">
      <div class="col-3 active-block">
        <div class="list-group" id="myList" role="tablist">
          <a  class="list-group-item list-group-item-action active " data-toggle="list" href="#graph1" role="tab" @click="draw1">Диаграмма активности пользователя на странице</a>
          <a class="list-group-item list-group-item-action " data-toggle="list" href="#graph2" role="tab" @click="draw2">Устройства и браузеры</a>
          <a class="list-group-item list-group-item-action " data-toggle="list" href="#graph3" role="tab" @click="draw3">Время загрузки страниц</a>
          <a class="list-group-item list-group-item-action " data-toggle="list" href="#graph4" role="tab" @click="draw4">Диаграмма популярности страниц</a>
        </div>
      </div>

      <div id="test1" class="col-4">
        <div id="tab-content"></div>
      </div>
      <div id="test2" class="col-4">
        <div id="tab-content2"></div>
      </div>
    </div>
  </div>
  
</template>

<style scoped>
  .activity-content {
    font-size: 20px;
    padding-right: 1em;
    text-align: center;
    width: 100%;
  }
  .active-block {
    padding: 12px;
  }
  .row a{
    overflow: hidden;
    font-size: 18px;
  }
  .col-8{
    display: flex;
    justify-content: space-between;
  }
</style>

<script>
  import active from './main'
  
  clearInterval(window.updStatic1)

  let draw1Interval = 0, draw2Interval = 0, draw3Interval = 0, draw4Interval = 0

  export default {
    name: 'activity',
    methods: {
      draw1: function () {
        draw1Interval = setInterval(function (){ $.ajax({
          type: 'POST',
          url: '/get_pages',
          crossDomain: true,
          data: '',
          success: function (data) {
            document.getElementById('test1').className = 'col-9'
            $('#test2').css('display', 'none')
            Highcharts.chart('tab-content', {
              chart: {
                type: 'column'
              },
              plotOptions: {
                column: {
                  pointPadding: 0,
                  borderWidth: 0,
                  groupPadding: 0,
                  shadow: false,
                  animation: false
                }
              },
              title: {
                text: 'Диаграмма активности пользователей на странице'
              },
              xAxis: {
                categories: ['Страницы']
              },
              yAxis: {
                title: {
                  text: 'Кол-во кликов на странице'
                }
              },
              series: data
            })
          }
        })}, 1000)
        clearInterval(draw2Interval)
        clearInterval(draw3Interval)
        clearInterval(draw4Interval)
      },
      draw2: function () {
        clearInterval(draw1Interval)
        document.getElementById('test1').className = 'col-4'
        $('#test2').css('display', 'block')
        $.ajax({
          type: 'POST',
          url: '/get_devices',
          crossDomain: true,
          data: '',
          success: function (data) {
            Highcharts.chart('tab-content', {
              chart: {
                type: 'pie'
              },
              title: {
                text: 'Устройства'
              },
              series: [{
                name: 'Пользователи',
                colorByPoint: true,
                data: data
              }]
            })
          }
        })
        $.ajax({
          type: 'POST',
          url: '/get_browser',
          crossDomain: true,
          data: '',
          success: function (data) {
            Highcharts.chart('tab-content2', {
              chart: {
                type: 'pie'
              },
              title: {
                text: 'Браузеры'
              },
              series: [{
                name: 'Пользователи',
                colorByPoint: true,
                data: data
              }]
            })
          }
        })
      },
      draw3: function () {
        clearInterval(draw1Interval)
        document.getElementById('test1').className = 'col-9'
        $('#test2').css('display', 'none')
        $.ajax({
          type: 'POST',
          url: '/get_uptime',
          crossDomain: true,
          data: '',
          success: function (data) {
            Highcharts.chart('tab-content', {
              chart: {
                type: 'areaspline'
              },
              plotOptions: {
                column: {
                  pointPadding: 0,
                  borderWidth: 0,
                  groupPadding: 0,
                  shadow: false
                }
              },
              title: {
                text: 'Время загрузки страниц'
              },
              yAxis: {
                title: {
                  text: 'Время загрузки страницы (мс)'
                }
              },
              xAxis: {
                categories: data["dates"]
              },
              series: data["map"]
            })
          }
        })
      },
      draw4: function () {
        clearInterval(draw1Interval)
        $.ajax({
          type: 'POST',
          url: '/get_popular_pages',
          crossDomain: true,
          data: '',
          success: function (data) {
            document.getElementById('test1').className = 'col-9'
            $('#test2').css('display', 'none')
            Highcharts.chart('tab-content', {
              chart: {
                type: 'column'
              },
              plotOptions: {
                column: {
                  pointPadding: 0,
                  borderWidth: 0,
                  groupPadding: 0,
                  shadow: false
                }
              },
              title: {
                text: 'Популярность страниц'
              },
              xAxis: {
                categories: ['Страницы']
              },
              yAxis: {
                title: {
                  text: 'Кол-во кликов на странице'
                }
              },
              series: data
            })
          }
        })
      }
    }
  }
</script>
