<template>
  <div class="center-container">
    <slot/>
  </div>
</template>

<style scoped>
  .center-container {
    align-items: flex-start;
    flex: 1;
  }
</style>


<script>
  export default {
    name: 'center-container',
  }
</script>
