<template>
  <div class="login-form">
    <form class="login" @submit.prevent="login">
      <img src="../../assets/favicon_64.png" alt="bird">
      <h1>Welcome</h1>
      <input required v-model="username" href='#username' type="text" placeholder="Username"/>
      <input required v-model="password" href='#password' type="password" placeholder="Password"/>
      <button type="submit">Login</button>
    </form>
  </div>
  <!-- нудно оформить блок по задаче -->
</template>

<style>
  .login-form{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 90vh;
  }
  .login {
    font-size: 20px;
    text-align: center;
    width: 300px;
    padding: 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2070c3;
    border-radius: 10px;
  }
  .login img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
  }
  .login h1{
    color: #fff;
    margin-bottom: 20px;
  }
  .login input{
    margin-top: 30px;
    text-align: center;
  }
  .login button{
    border: 1px solid #fff;
    font-size: 30px;
    color: #fff;
    border-radius: 5px;
    background: 	#1E90FF;
    transition: .3s;
    margin-top: 30px;
  }
  .login button:hover{
    background: #fff;
    color: 	#000;
    border: 1px solid #1E90FF;
  }
  .login button, button:active, button:focus {
    outline: none;
  }
  @media screen and (min-height: 1020px) {
    .login{
      width: 500px;
      height: 700px;
    }
    .login button{
      height: 70px;
    }
    .login h1{
      font-size: 60px;
    }
    .login img{
      height: 100px;
      width: 100px;
    }
  }
  @media screen and (max-width: 320px){
    .login{
      width:250px;
      height: 450px;
    }

  }
</style>

<script>
 
  // заглушка для авторизация - каждый раз генерим просто нового пользователя и новый пароль
  // сделано для того чтобы не решать задачи хранения данных по пользователям, это не цель проекта
  import {AUTH_REQUEST} from 'actions/auth'

  export default {
    name: 'login',
    data () {
      // random guuid user
      function guid () {
        function s4 () {
          return Math.floor((1 + Math.random()) * 0x10000)
            .toString(16)
            .substring(1)
        }
        return s4() + s4()
      }

      let number = guid()
      return {
        username: 'user_' + number,
        password: 'password',
      }
    },
    methods: {
      login: function () {
        const { username, password } = this
        this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
          this.$router.push('/')
        })
      }
    },
  }
</script>
